@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: rgb(217, 181, 214);
}

/* input:focus {
    outline: none !important;
}

input:hover {
    outline: none !important;
}

input:focus {
    border: none !important;
}

input:hover {
    outline: none !important;
} */


.inp2 {
    width: 220px;
}

.inp {
    width: 220px;
}

.inp:focus,
.inp:hover {
    border: 3px solid pink;
}

.ant-input-password:hover {
    border: 3px solid pink !important;
}

.ant-input-outlined:focus-within {
    border: 3px solid pink !important;
}