* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
/* input:focus {
    outline: none !important;
}

input:hover {
    outline: none !important;
}

input:focus {
    border: none !important;
}

input:hover {
    outline: none !important;
} */


.inp2 {
    width: 220px;
}

.inp {
    width: 220px;
}

.inp:focus,
.inp:hover {
    border: 3px solid pink;
}
.ant-input-password:hover{
    border: 3px solid pink !important;
}

.ant-input-outlined:focus-within{
    border: 3px solid pink !important;
}